[Desktop Entry]
Name=Zork I
Type=Application
Terminal=false
Categories=Game;AdventureGame;
Icon=applications-games
Exec=cool-retro-term -e frotz /usr/share/games/zork/zork1.z3
