Package: lunduke-paint
Version: 0.7-1
Section: graphics
Priority: optional
Architecture: amd64
Installed-Size: 1860
Maintainer: LCOS <lcos@lunduke.com>
Homepage: https://lunduke.com
Depends: libarchive13t64 (>= 3.1.2), libatkmm-1.6-1v5 (>= 2.28.4), libc6 (>= 2.38), libcairo2 (>= 1.2.4), libcairomm-1.0-1v5 (>= 1.14.5), libgcc-s1 (>= 3.0), libgdk-pixbuf-2.0-0 (>= 2.22.0), libglib2.0-0t64 (>= 2.36.0), libglibmm-2.4-1t64 (>= 2.66.8), libgtk-3-0t64 (>= 3.9.10), libgtkmm-3.0-1t64 (>= 3.24.10), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpugixml1v5 (>= 1.6), libsigc++-2.0-0v5 (>= 2.8.0), libstdc++6 (>= 13.1), librsvg2-common, shared-mime-info, desktop-file-utils, gtk-update-icon-cache
Description: Lunduke Paint, a GTK3 layered bitmap paint program for Linux X11
 Lunduke Paint is a traditional GTK 3 paint program for Linux X11.
 Look and feel: classic MS Paint plus KolourPaint, with user layers
 and a visible history list. Native project format is OpenRaster (.ora).
