Package: lcos-theme-clearlooks
Version: 0.9.2-1
Section: x11
Priority: optional
Architecture: all
Installed-Size: 1240
Maintainer: LCOS <lcos@lunduke.com>
Homepage: https://lunduke.com
Recommends: gtk2-engines
Description: Clearlooks and Clearlooks-Phenix themes for LCOS
 Vendored Clearlooks (xfwm4) and Clearlooks-Phenix (GTK2/3 + xfwm4)
 theme trees used by the LCOS XFCE desktop.
