Package: lcos-desktop
Version: 0.9.2-1
Section: metapackages
Priority: optional
Architecture: all
Installed-Size: 28
Maintainer: LCOS <lcos@lunduke.com>
Homepage: https://lunduke.com
Depends: lcos-base (>= 0.7), lcos-desktop-config (>= 0.7), lcos-theme-clearlooks (>= 0.7), plymouth, libplymouth5, pulseaudio, pulseaudio-utils, pavucontrol, xfce4-pulseaudio-plugin, alsa-utils, xfce4-power-manager, xfce4-power-manager-plugins, upower, lcos-appimage-thumbnailer (>= 0.7), tumbler
Recommends: xfce4, lightdm, lightdm-gtk-greeter, elementary-xfce-icon-theme, gtk2-engines, lcos-zork, micropolis, lunduke-paint
Description: LCOS XFCE desktop edition metapackage
 Pulls LCOS identity, XFCE look, and Clearlooks. Depends on
 Plymouth, PulseAudio/ALSA stack, XFCE power manager, and AppImage
 thumbnailer/tumbler so upgrades get boot splash and media bits. Recommends
 the XFCE/LightDM stack plus Zork, Micropolis, and Lunduke Paint. Does not
 depend on Calamares or live-config installer bits.
