Package: lcos-icon-theme
Version: 0.5-1
Section: x11
Priority: optional
Architecture: all
Installed-Size: 184
Maintainer: LCOS <lcos@lunduke.com>
Homepage: https://lunduke.com
Recommends: elementary-xfce-icon-theme
Description: LCOS Flat Stock icon theme
 LCOS-Flat-Stock desktop icons (folder, drive, terminal) at 32/48/96.
 Inherits elementary-xfce for all other icons.
